<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <import resource="classpath:spring-jms-module.xml" />
    
    <bean name="slaveRegistry" class="ua.kiev.univ.master.SlaveRegistryImpl"/>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="registryPort" value="8080"/>
        <property name="service" ref="slaveRegistry"/>
        <property name="serviceName" value="SlaveRegistry"/>
        <property name="serviceInterface" value="ua.kiev.univ.master.SlaveRegistry"/>
    </bean>

</beans>